@model mv.DataModel.Users

<div class="col-md-3" style="text-align:center;float:left;background-color:darkslategrey">
    <br />
    <br />
    <img class="img-circle" src="@Url.Content(Model.PictureLoc)" width="200" height="200" />
    <hr />

    <b>User : </b>@Model.Name  @Model.Surname<br />
    <b>Location : </b>@Model.Country | @Model.City<br />
    <b>Gender : </b> @if (Model.Gender) { Write(mv.Views.Resources.Male); } else { Write(mv.Views.Resources.Male); }



</div>
