@using Microsoft.AspNet.Identity
@using mv.Views
@*@if(Session["KullaniciLogin"]!=null)*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Search", "Users", FormMethod.Get))
    {
        @*<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.0.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#btSearch').click(function () {
                    if ($('#txtSearch[document_type]').val() != '') {
                        alert("Nothing to search...!");
                    }
                    else {
                        alert("diğeri...!");
                    }
                });
            });
        </script>*@
        <input type="text" id="txtSearch" name="text" style="width:100px"/>
        <input type="submit" value="Search" id="btSearch"/>
    }
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right">
            <li>

            </li>
            <li>
                @Html.ActionLink("Profile", "Index", "ProfilePage")
            </li>
            <li>
                @Html.ActionLink("Rate", "Index", "Rate")
            </li>
            <li>
                @Html.ActionLink("Messages", "Index", "Message")
            </li>
            <li style="font-style:italic; font-weight:900">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "ProfilePage", routeValues: null, htmlAttributes: new { title = "Go to User Profile Page" })
            </li>
            <li>@Html.ActionLink("Log off", "LogOff", "Users")</li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Register, "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Login, "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
