@using Microsoft.AspNet.Identity
@using mv.Views
@*@if(Session["KullaniciLogin"]!=null)*@
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Profile", "Index", "ProfilePage")
            </li>
            <li>
                @Html.ActionLink("Rate", "Index", "Rate")
            </li>
            <li>
                @Html.ActionLink("Messages", "Index", "Message")
            </li>
            <li style="font-style:italic; font-weight:900">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "ProfilePage", routeValues: null, htmlAttributes: new { title = "Go to User Profile Page" })
            </li>
            <li>@Html.ActionLink("Log off", "LogOff", "Users")</li>
            @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>*@
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Register, "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Login, "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
