@using Microsoft.AspNet.Identity
@using mv.Views
@*@if (Request.IsAuthenticated)*@
@if(Session["KullaniciLogin"]!=null)
{
    using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Profile", "Index", "ProfilePage")

        </li>
        <li>
            @Html.ActionLink("Rate", "Index", "Rate")
            
        </li>
        <li>
            @Html.ActionLink("Messages", "Index", "Message")
        </li>
        <li>
            @Html.ActionLink("Merhaba " + User.Identity.GetUserName() + "!", "Index", "ProfilePage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(Resources.Register, "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(Resources.Login, "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
